<div class="modal fade" id="modal-tablet" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content" style="width: 500px; margin: 0 auto;">
		<div class="heading">
			<a href="#" class="close">
				<i class="fa fa-times-circle"></i>
			</a>
			<h2>Сообщить о заказе</h2>
		</div>

		<div class="row error-row">
			<h3></h3>
			<div class="row-holder">
				<div style="margin-top: 16px; text-align: center;">
					<button type="button" class="btn btn-default back-button">
						<i class="fa fa fa-arrow-circle-left"></i> Назад
					</button>
				</div>
			</div>
		</div>

		<div class="row success-row">
			<h3></h3>
			<div class="row-holder">
				<div style="margin-top: 16px; text-align: center;">
					<button type="button" class="btn btn-default back-button">
						<i class="fa fa fa-arrow-circle-left"></i> Назад
					</button>
				</div>
			</div>
		</div>

		<div class="row phone-row">

			<div class="col-xs-12">

				<div class="row-holder" style="margin-bottom: 16px;">
					<div class="input-holder input-group">
						<input type="text" name="title" placeholder="Наименование компании" class="input-title">
					</div>
				</div>

				<div class="row-holder" style="margin-bottom: 16px;">
					<div class="input-holder input-group">
						<span class="input-group-addon plus-seven">+7</span>
						<input type="tel" placeholder="@@mobileNumber" name="phone" class="input-phone">
					</div>
				</div>

				<p>Прежде, чем оставить свой первый заказ, пожалуйста, зарегистрируйтесь на сайте dryharder.me с промо-кодом вашей компании и приложите заполненную бланк-заявку</p>

				<div class="row-holder" style="text-align: center;">
					<button type="button" class="btn btn-primary big-button confirm-button" data-loading-text="проверка...">
						Отправить <i class="fa fa-arrow-circle-right"></i>
					</button>
					<div style="margin-top: 16px; text-align: center;">
						<button type="button" class="btn btn-default back-button">
							<i class="fa fa fa-arrow-circle-left"></i> Назад
						</button>
					</div>
				</div>

			</div>

		</div>


	</div>
</div>
