<section class="corporate-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="visual">
					<i class="icon2-decor"></i>
				</div>
			</div>
			<div class="col-sm-offset-1 col-sm-8 col-md-5">
				<h2>@@weWorkWithCorp<br></h2>
				<a href="#" class="info-link" data-target="feedbackForm"><span>@@write </span><span>&nbsp;@@us&nbsp;<i class="fa fa-info-circle"></i></span></a>
			</div>
		</div>
	</div>
</section>
<section style="position: relative; padding: 0;">
	<iframe style="display: block; z-index: -1;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35963.36702636057!2d37.728581431065486!3d55.711404813875795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab53d5b6aec2b%3A0xdc57126769ee4676!2z0JPRgNCw0LnQstC-0YDQvtC90L7QstGB0LrQsNGPINGD0LsuLCA0LCDQnNC-0YHQutCy0LAsIDEwOTUxOA!5e0!3m2!1sru!2sru!4v1427143031608" width="600" height="450" frameborder="0" class="iframe-map"></iframe>
	<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: white; opacity: 0; z-index: 1;" onclick="$(this).hide(); return;"></div>
</section>
<div class="contacts-section">
	<div class="heading-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12" style="text-align: center;">
					<div class="box">
						<h2>@@contacts</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container contacts-block">
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div class="text hidden-xs">
					<p>@@weAreAlwaysReadyToHelp</p>
				</div>
			</div>
			<div class="col-sm-8 col-xs-12" id="location">
				<address>Dry Harder <br> @@physicalAddress</address>
				<span class="phone"><a href="tel:+74956665607">+7 495 666 56 07</a> <br> 10:00 - 19:00 <br><a class="email" href="#" data-target="feedbackForm">info@dryharder.me</a></span>
			</div>
		</div>
	</div>

</div>