<section class="work-section" id="how-does-it-work">
	<header class="heading-section">
		<div class="container">
			<div class="row">
				<div class="ol-xs-12" style="text-align: center;">
					<div class="box">
						<h2>@@howDoWeWork</h2>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="steps-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-3">
					<div class="step active">
						<div class="heading">
							<span class="num">1.</span>

							<div class="visual">
								<i class="icon2-1"></i>
							</div>
						</div>
						<h3>@@leaveARequest</h3>

						<p>@@registerAndSend<i class="fa fa-rub"></i>@@deliveredForFree</p>
						<button class="btn btn-primary leave-a-request" data-loading-text="@@second" data-loc="plate">@@getOrder <i class="fa fa-truck"></i></button>
					</div>
				</div>
				<div class="col-md-1 text-center hidden-sm hidden-xs">
					<i class="icon2-arrow"></i>
				</div>
				<div class="col-sm-4 col-md-3">
					<div class="step">
						<div class="heading">
							<span class="num">2.</span>

							<div class="visual">
								<i class="icon2-2"></i>
							</div>
						</div>
						<h3>@@payOnline</h3>

						<p>@@weWillLetYouKnow</p>
						<a href="#" class="btn btn-primary">@@toRegister <i class="fa fa-truck"></i></a>
					</div>
				</div>
				<div class="col-md-1 text-center hidden-sm hidden-xs">
					<i class="icon2-arrow"></i>
				</div>
				<div class="col-sm-4 col-md-3">
					<div class="step">
						<div class="heading">
							<span class="num">3.</span>

							<div class="visual">
								<i class="icon2-3"></i>
							</div>
						</div>
						<h3>@@enjoyClean</h3>

						<p>@@weDeliver</p>
						<a href="#" class="btn btn-primary">@@toRegister <i class="fa fa-truck"></i></a>
					</div>
				</div>
				<div class="col-md-1 text-center hidden-sm hidden-xs">
					<i class="icon2-done"></i>
				</div>
			</div>
		</div>
	</div>
</section>