<div class="tabset-section style02" id="how-we-work">
	<div class="heading-section style02">
		<div class="container">
			<div class="row">
				<div class="col-xs-12" style="text-align: center;">
					<div class="box">
						<h2>@@ourPrinciples</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- cycle-gallery of the page -->
	<div class="cycle-gallery style02">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-4 col-xs-12">
					<ul class="switcher">
						<!--<li class="active"><a href="#"><span class="icons-holder"><span class="icon"><i class="icon-svg5"></i></span></span> <span class="text hidden-xs">О Dry Harder</span></a></li>-->
						<!--<li><a href="#"><span class="icons-holder"><span class="icon"><i class="icon-svg6"></i></span></span> <span class="text hidden-xs">Наша команда</span></a></li>-->
						<!--<li><a href="#"><span class="icons-holder"><span class="icon"><i class="icon-svg7"></i></span></span> <span class="text hidden-xs">Наши принципы</span></a></li>-->
					</ul>
				</div>
			</div>
		</div>
		<div class="mask">
			<div class="slideset">
				<div class="slide active">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-4">
								<div class="heading-box">
									<strong class="title-mobile visible-xs">@@aboutDryHarder </strong>

									<h3>@@cb-approach-about</h3>
								</div>
							</div>
							<div class="col-sm-4 col-lg-offset-1">
								<div class="mobile-text-openbox">
									<div class="heading">
										<strong class="title">@@howWeWorkHeader11<span class="mark01">@@howWeWorkHeader12</span></strong>
										<a href="#" class="opener-text visible-xs"></a>
									</div>
									<div class="slide-text">
										@@cb-approach-happy
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="text-block">
									<div class="mobile-text-openbox">
										<div class="heading">
											<strong class="title">@@howWeWorkHeader21</strong>
											<a href="#" class="opener-text visible-xs"></a>
										</div>
										<div class="slide-text">
											@@cb-approach-time
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="slide">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-4">
								<div class="heading-box">
									<strong class="title-mobile visible-xs">О нас longer</strong>
									<h3>Качество услуг и комфорт клиента - наши ориентиры в работе.</h3>
								</div>
							</div>
							<div class="col-sm-4 col-lg-offset-1">
								<div class="mobile-text-openbox">
									<div class="heading">
										<strong class="title">Цените свои вещи? <span class="mark01">Мы о них заботимся.</span></strong>
										<a href="#" class="opener-text visible-xs"></a>
									</div>
									<div class="slide-text">
										<p>Сочетание ручной работы и чистки в современных итальянских и немецких машинах. В его основе лежит применение чистящих средств агрессивных средств позволяет назвать этот метод одним из эффективных.</p>
										<p>Новейшие средства чистки, подбираемые для каждой вещи в отдельности в зависимости от типа загрязнения и ткани.</p>
										<p>Осмотр и проверка результатов чистки каждой вещи.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="text-block">
									<div class="mobile-text-openbox">
										<div class="heading">
											<strong class="title">Уход за вещами отнимает время? Устали от плохого сервиса? Мы все продумали.</strong>
											<a href="#" class="opener-text visible-xs"></a>
										</div>
										<div class="slide-text">
											<p>Мы рады экономить ваше время. Используя он-лайн кабинет вы можете моментально оплачивать заказы и заказывать курьера.</p>
											<p>Мы можем легко забрать и доставить Ваши вещи оттуда, откуда вы скажете.</p>
											<p>Хотите привезти свои вещи сами, но не готовы тратить время на сдачу вещей? Единожды зарегистрировавшись онлайн вы сможете просто оставлять пакет с вещами у нас, и не тратить свое время на оплату.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>-->							<!--<div class="slide">
								<div class="container">
									<div class="row">
										<div class="col-lg-3 col-sm-4">
											<div class="heading-box">
												<strong class="title-mobile visible-xs">О нас longer</strong>
												<h3>Качество услуг и комфорт клиента - наши ориентиры в работе.</h3>
											</div>
										</div>
										<div class="col-sm-4 col-lg-offset-1">
											<div class="mobile-text-openbox">
												<div class="heading">
													<strong class="title">Цените свои вещи? <span class="mark01">Мы о них заботимся.</span></strong>
													<a href="#" class="opener-text visible-xs"></a>
												</div>
												<div class="slide-text">
													<p>Сочетание ручной работы и чистки в современных итальянских и немецких машинах. В его основе лежит применение чистящих средств агрессивных средств позволяет назвать этот метод одним из эффективных.</p>
													<p>Новейшие средства чистки, подбираемые для каждой вещи в отдельности в зависимости от типа загрязнения и ткани.</p>
													<p>Осмотр и проверка результатов чистки каждой вещи.</p>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="text-block">
												<div class="mobile-text-openbox">
													<div class="heading">
														<strong class="title">Уход за вещами отнимает время? Устали от плохого сервиса? Мы все продумали.</strong>
														<a href="#" class="opener-text visible-xs"></a>
													</div>
													<div class="slide-text">
														<p>Мы рады экономить ваше время. Используя он-лайн кабинет вы можете моментально оплачивать заказы и заказывать курьера.</p>
														<p>Мы можем легко забрать и доставить Ваши вещи оттуда, откуда вы скажете.</p>
														<p>Хотите привезти свои вещи сами, но не готовы тратить время на сдачу вещей? Единожды зарегистрировавшись онлайн вы сможете просто оставлять пакет с вещами у нас, и не тратить свое время на оплату.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>-->
			</div>
		</div>
		<!--<a class="btn-prev" href="#"><i class="icon-arrow-left"></i></a>
		<a class="btn-next" href="#"><i class="icon-arrow-right"></i></a>-->
	</div>
</div>