<div class="tabset-section" id="our-services">
	<div class="heading-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12" style="text-align: center;">
					<div class="box">
						<h2>@@whatWeOffer</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- cycle-gallery of the page -->
	<div class="cycle-gallery">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-3">
					<ul class="switcher">
						<li class="active">
							<a href="#"><span class="icons-holder"><span class="icon"><i class="icon-svg"></i></span></span>
								<span class="text hidden-xs">@@waterCleaning</span></a></li>
						<li>
							<a href="#"><span class="icons-holder"><span class="icon"><i class="icon-svg2"></i></span></span>
								<span class="text hidden-xs">@@dryCleaning</span></a></li>
						<li>
							<a href="#"><span class="icons-holder"><span class="icon"><i class="icon-svg3"></i></span><span class="icon hidden-xs"><i class="icon-svg4"></i></span></span>
								<span class="text hidden-xs">@@bagsCleaning</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="mask">
			<div class="slideset">
				<div class="slide active">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-4 image-column">
								<div class="image-box hidden-xs">
									<img src="images/img-svg-01.svg" alt="" width="220" height="192" onerror="this.onerror=null; this.src='images/img-svg-01.png'">
									<span class="decor">
										<img src="images/divider02.svg" alt="" width="220" height="192" onerror="this.onerror=null; this.src='images/divider02.png'">
									</span>
								</div>
							</div>
							<div class="col-sm-8 col-lg-offset-1">
								<div class="text-holder">
									<strong class="title-mobile visible-xs">@@waterCleaning</strong>
									@@cb-services-water
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-4 image-column">
								<div class="image-box hidden-xs">
									<img src="images/img-svg-02.svg" alt="" width="220" height="192" onerror="this.onerror=null; this.src='images/img-svg-01.png'">
									<span class="decor">
										<img src="images/divider02.svg" alt="" width="220" height="192" onerror="this.onerror=null; this.src='images/divider02.png'">
									</span>
								</div>
							</div>
							<div class="col-sm-8 col-lg-offset-1">
								<div class="text-holder">
									<strong class="title-mobile visible-xs">@@dryCleaning</strong>
									@@cb-services-dry
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-4 image-column">
								<div class="image-box hidden-xs">
									<img src="images/img-svg-03.svg" alt="" width="220" height="192" onerror="this.onerror=null; this.src='images/img-svg-01.png'">
									<span class="decor">
										<img src="images/divider02.svg" alt="" width="220" height="192" onerror="this.onerror=null; this.src='images/divider02.png'">
									</span>
								</div>
							</div>
							<div class="col-sm-8 col-lg-offset-1">
								<div class="text-holder">
									<strong class="title-mobile visible-xs">@@bagsCleaning</strong>
									@@cb-services-bag-shoes
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="btn-prev" href="#"><i class="icon-arrow-left"></i></a>
		<a class="btn-next" href="#"><i class="icon-arrow-right"></i></a>
	</div>
</div>