<div class="content-container hidden-xs" id="our-process">
	<div class="heading-section">
		<div class="container">
			<div class="row">
				<div style="text-align: center;">
					<div class="box">
						<h2>@@processTitle</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-xs-4">
				<ul class="icons-list">
					<li>
						<div class="icon-cell style02">
							<img src="images/icon01.svg" alt="" width="102" height="45" onerror="this.onerror=null; this.src='images/icon01.png'">
						</div>
					</li>
					<li class="align-right">
						<div class="icon-cell">
							<img src="images/icon02.svg" alt="" width="77" height="65" onerror="this.onerror=null; this.src='images/icon02.png'">
						</div>
					</li>
					<li>
						<div class="icon-cell">
							<img src="images/icon03.svg" alt="" width="84" height="83" onerror="this.onerror=null; this.src='images/icon03.png'">
						</div>
					</li>
					<li class="align-right">
						<div class="icon-cell">
							<img src="images/icon04.svg" alt="" width="91" height="72" onerror="this.onerror=null; this.src='images/icon04.png'">
						</div>
					</li>
					<li>
						<div class="icon-cell">
							<img src="images/icon05.svg" alt="" width="89" height="63" onerror="this.onerror=null; this.src='images/icon05.png'">
						</div>
					</li>
				</ul>
			</div>
			<div class="col-xs-4 col-lg-offset-1">
				<div class="text">
					<div class="heading">
						<strong class="title">@@assessment</strong> <span class="number">1</span>
					</div>
					<p>@@cb-process-assessment</p>
				</div>
				<div class="text">
					<div class="heading">
						<strong class="title">@@processHand</strong> <span class="number">2</span>
					</div>
					<p>@@cb-process-hand</p>
				</div>
				<div class="text">
					<div class="heading">
						<strong class="title">@@processMachine</strong> <span class="number">3</span>
					</div>
					<p>@@cb-process-machine</p>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="text">
					<div class="heading">
						<strong class="title">@@pressing</strong> <span class="number">4</span>
					</div>
					<p>@@cb-process-pressing</p>
				</div>
				<div class="text">
					<div class="heading">
						<strong class="title">@@packing</strong> <span class="number">5</span>
					</div>
					<p>@@cb-process-packaging</p>
				</div>
			</div>
		</div>
	</div>
</div>