<div class="add-price-section" id="price-section">
	<div class="frame">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="price-tabset-holder">
						<!-- price-tabset of the page -->
						<ul class="price-tabset">
							<li><a href="#tab1" class="active">@@priceStandard</a></li>
							<li><a href="#tab2">@@priceBusiness</a></li>
							<li><a href="#tab3">@@priceCare</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="price-tabset-holder">
						<div class="price-tab-content">
							<div id="tab1">
								<div class="price-table price-standard"></div>
							</div>
							<div id="tab2">
								<div class="price-table price-business"></div>
							</div>
							<div id="tab3">
								<div class="price-table price-care"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="link-close"><i class="icon-arrow-left"></i></a>
	</div>
</div>