<div class="price-section add-price-style" id="price-anchor">
	<div class="heading-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12" style="text-align: center;">
					<div class="box">
						<h2>@@priceTitle</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- price-carousel of the page -->
	<div class="price-carousel">
		<div class="mask">
			<div class="slideset">
				<div class="slide">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-4">
								<article class="info-box">
									<div class="frame">
										<div class="heading">
											<h3>1. @@priceStandard</h3>
											<!--	<a href="#" class="icon-basket"></a>-->
										</div>
										<div class="text">
											<p>@@cb-price-standard</p>
										</div>
										<div class="info-table">
											<table>
												<tbody>
												<tr>
													<td>@@shirtBlouse<br></td>
													<td>250 <i class="fa fa-rub"></i></td>
												</tr>
												<tr>
													<td>@@suit</td>
													<td>550 <i class="fa fa-rub"></i></td>
												</tr>
												<tr>
													<td>@@trousers</td>
													<td>450 <i class="fa fa-rub"></i></td>
												</tr>
												<tr>
													<td>@@skirt</td>
													<td>450 <i class="fa fa-rub"></i></td>
												</tr>
												<tr>
													<td>@@wEverydayDress</td>
													<td>800 <i class="fa fa-rub"></i></td>
												</tr>
												</tbody>
											</table>
										</div>
										<div class="button-holder">
											<a href="#price-section" class="btn btn-primary" data-tab="tab1">@@more<i class="fa fa-bars"></i></a>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-3 col-md-offset-1 col-sm-4">
								<article class="info-box">
									<div class="frame">
										<div class="heading style02">
											<h3>2. @@priceBusiness</h3>
											<!--	<a href="#" class="icon-basket"></a> -->
										</div>
										<div class="text">
											<p>@@cb-price-business</p>
										</div>
										<div class="info-table">
											<table>
												<tbody>
												<tr>
													<td>@@pricePerMonth</td>
													<td>7 900<i class="fa fa-rub"></i></td>
												</tr>
												<tr>
													<td>@@shirtBlouseIncluded<br></td>
													<td>25 шт</td>
												</tr>
												<tr>
													<td>@@suitSkirtIncluded</td>
													<td>3 шт</td>
												</tr>
												</tbody>
											</table>
										</div>
										<div class="button-holder">
											<a href="#price-section" class="btn btn-primary" data-tab="tab2">@@more
												<i class="fa fa-bars"></i></a>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-3 col-md-offset-1 col-sm-4">
								<article class="info-box">
									<div class="frame">
										<div class="heading style03">
											<h3>3. @@priceCare</h3>
											<!--<a href="#" class="icon-basket"></a>-->
										</div>
										<div class="text">
											<p>@@cb-price-carefree</p>
										</div>
										<div class="info-table">
											<table>
												<tbody>
												<tr>
													<td>@@prisePerMonth</td>
													<td>15 000<i class="fa fa-rub"></i></td>
												</tr>
												<tr>
													<td>@@bizTariff</td>
													<td>@@included</td>
												</tr>
												</tbody>
											</table>
										</div>
										<div class="button-holder">
											<a href="#price-section" class="btn btn-primary" data-tab="tab3">@@more
												<i class="fa fa-bars"></i></a>

										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="btn-prev" href="#"><i class="icon-arrow-left"></i></a>
		<a class="btn-next" href="#"><i class="icon-arrow-right"></i></a>
	</div>
</div>