<script type="text/javascript" src="http://cdn2.adnous.ru/1082.js"></script>

<script>(function() {
	var _fbq = window._fbq || (window._fbq = []);
	if (!_fbq.loaded) {
		var fbds = document.createElement('script');
		fbds.async = true;
		fbds.src = '//connect.facebook.net/en_US/fbds.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(fbds, s);
		_fbq.loaded = true;
	}
	_fbq.push(['addPixelId', '304919476372889']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=304919476372889&amp;ev=PixelInitialized" /></noscript>


<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
	(w[c] = w[c] || []).push(function () {
		try {
			w.yaCounter27721494 = new Ya.Metrika({
				id: 27721494,
				clickmap: true,
				trackLinks: true,
				accurateTrackBounce: true,
				webvisor: true
			});
		} catch (e) {
		}
	});
	var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
		n.parentNode.insertBefore(s, n);
	};
	s.type = "text/javascript";
	s.async = true;
	s.src = "https://mc.yandex.ru/metrika/watch.js";
	if (w.opera == "[object Opera]") {
		d.addEventListener("DOMContentLoaded", f, false);
	} else {
		f();
	}
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
	<div><img src="https://mc.yandex.ru/watch/27721494" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<!-- SmartPixel  -->
<script type="text/javascript">
	adroll_adv_id = "6NET24OUVRGALEN72GTZDW";
	adroll_pix_id = "YZ6SMA5WOFE6BP5OVVVF2Y";
	(function () {
		var oldonload = window.onload;
		window.onload = function(){
			__adroll_loaded=true;
			var scr = document.createElement("script");
			var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
			scr.setAttribute('async', 'true');
			scr.type = "text/javascript";
			scr.src = host + "/j/roundtrip.js";
			((document.getElementsByTagName('head') || [null])[0] ||
			document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
			if(oldonload){oldonload()}};
	}());
</script>
<!-- /SmartPixel  -->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
	(function(){ var widget_id = 'hJxwuRyx1a';
		var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "url": "http://dryharder.me",
      "logo": "http://dryharder.me/images/logo.png",
      "contactPoint" : [{
	    "@type" : "ContactPoint",
	    "telephone" : "+7 495 666-56-07",
	    "contactType" : "customer service",
	    "areaServed" : "RU",
	    "availableLanguage": ["RU","EN"]
	  }],
	  "sameAs" : [
	    "https://www.facebook.com/DryHarderMsk"
	  ]
    }
</script>

<div style="display: none;">
	<div itemscope itemtype="http://schema.org/LocalBusiness">
		<a itemprop="url" href="http://dryharder.me">
			<div itemprop="name"><strong>Dry Harder - химчистка с доставкой</strong></div>
		</a>
		<div itemprop="description">Dry Harder - это новая хорошая химчистка, в которой вещи снова становятся свежими, выглаженными и красиво сложенными. Мы с радостью заберем и доставим ваши вещи, примем оплату он-лайн и приведем все в порядок.
		</div>
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<span itemprop="streetAddress">Ул. Грайвороновская, д. 4, cтр. 1</span><br>
			<span itemprop="addressLocality">Москва</span><br>
			<span itemprop="postalCode">109518</span><br>
			<span itemprop="addressCountry">Россия</span><br>
		</div>
		<div class="telephone">+7 495 666-56-07</div>
		<time itemprop="openingHours" datetime="Mo-Su 8:00-22:00">Вызов курьера на забор вещей - с 8:00 до 22:00 без выходных</time>
	</div>
</div>