<meta charset="utf-8">
<meta name="google-site-verification" content="QM-Eq9VN6JpZLUlKTXplRO5b_avG8E6oqjfsZuFRqq4" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dry Harder - химчистка с доставкой</title>
<link media="all" rel="stylesheet" href="assets/css/app.min.css?v=@@ts">
<link rel="shortcut icon" href="favicon.ico">
<!--[if lt IE 9]>
	<link rel="stylesheet" href="assets/css/ie.min.css?v=@@ts">
	<script type="text/javascript" src="assets/js/ie.js?v=@@ts"></script>
<![endif]-->
<!--[if lte IE 9]>
	<link rel="stylesheet" href="assets/css/ie.css?v=@@ts">
<![endif]-->

<meta property="og:title" content="@@metaTitle" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://dryharder.me/@@metaUrl" />
<meta property="og:image" content="http://dryharder.me/@@metaImage" />
<meta property="og:description" content="@@metaDescription" />
<meta property="og:site_name" content="@@metaTitle" />


<link rel="image_src" href="http://dryharder.me/@@metaImage" />

<meta itemprop="name" content="@@metaTitle" />
<meta itemprop="description" content="@@metaDescription" />
<meta itemprop="image" content="http://dryharder.me/@@metaImage" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@@metaTitle" />
<meta name="twitter:title" content="@@metaTitle">
<meta name="twitter:description" content="@@metaDescription" />
<meta name="twitter:creator" content="@@metaTitle" />
<meta name="twitter:image:src" content="http://dryharder.me/@@metaImage" />
<meta name="twitter:domain" content="dryharder.me" />