<div class="start-section">

<header id="header">
	<div class="header-section hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-lg-offset-1 col-xs-4">
					<!-- account navigation -->
					<nav class="account-nav">
						<ul>
							<li class="li-nav-wait">@@loadSession...</li>
							<li class="li-nav-login" style="display: none;">
								<a href="#" data-toggle="modal" data-target="#myModa2"><i class="fa fa-user"></i>@@login</a>
							</li>
							<li class="li-nav-register" style="display: none;">
								<a class="lightbox" href="#myModal">@@register</a>
							</li>
							<li class="cl li-nav-user" style="display: none;">
								<a href="#"><i class="fa fa-user"></i></a>
							</li>
							<li style="display: none;" class="li-nav-logout">
								<a href="#" data-toggle="modal" data-target="#myModa3"><i class="fa fa-times-circle"></i>
									@@logout</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-xs-4" style="text-align: center;">
					<a class="logo" href="#"><img src="images/logo.png" height="150" width="240" alt="Dry Harder"></a>
				</div>
				<div class="col-lg-3 col-xs-4" style="text-align: right; padding-top: 14px;">
					<a href="tel:+74956665607" class="phone"><i class="fa fa-phone"></i> +7 495 666 56 07</a>
					<a href="#" onclick="return false;" class="lang-href" data-lang="ru">Ru</a>
					<a href="#" onclick="return false;" class="lang-href" data-lang="en">En</a>
				</div>
			</div>
		</div>
	</div>
	<!-- nav-bar of the page -->
	<div class="nav-bar hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-lg-offset-1 col-lg-8 col-xs-10">
					<!-- navigation of the page -->
					<div id="nav">
						<ul>
							<li class="active"><a href="#" class="home"><i class="fa fa-home"></i></a></li>
							<li><a href="#our-services">@@ourServices</a></li>
							<li><a href="#how-does-it-work">@@ourWork</a></li>
							<li><a href="#how-we-work">@@ourPrinciples</a></li>
							<li><a href="#our-process">@@ourProcess</a></li>
							<li><a href="#price-anchor">@@ourPrice</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-2">
					<!-- add-nav of the page -->
					<nav class="add-nav">
						<ul>
							<li class="base-tooltip">
								<a href="#location" data-toggle="tooltip" data-placement="bottom" title="@@addresses"><i class="fa fa-map-marker"></i></a>
							</li>
							<li><a href="#" data-target="feedbackForm"><i class="fa fa-envelope"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- mobile-header of the page -->
	<div class="mobile-header visible-xs" id="mob-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="mobile-logo"><i class="icon-svg5"></i></a>

					<div class="basket-box">
						<span class="number"></span> <a href="#" class="basket-link"><i class="icon-basket"></i></a>
					</div>
					<div class="mobile-navigation">
						<a href="#" class="opener"><i class="fa fa-bars"></i></a>

						<div class="drop">
							<ul class="main-nav">
								<li><a href="#">Home</a></li>
								<li><a href="#our-services">@@ourServices</a></li>
								<li><a href="#how-does-it-work">@@ourWork</a></li>
								<li><a href="#how-we-work">@@ourPrinciples</a></li>
								<li><a href="#our-process">@@ourProcess</a></li>
								<li><a href="#price-anchor">@@ourPrice</a></li>
								<li><a href="#location">@@ourContacts</a></li>
							</ul>
							<!-- account navigation -->
							<nav class="account-nav">
								<ul>
									<li class="li-nav-wait">@@loadSession...</li>
									<li class="li-nav-login" style="display: none;">
										<a href="#" data-toggle="modal" data-target="#myModa2"><i class="fa fa-user"></i>
											@@login</a>
									</li>
									<li class="li-nav-register" style="display: none;">
										<a class="lightbox" href="#myModal">@@registerDo</a>
									</li>
									<li class="cl li-nav-user" style="display: none;">
										<a href="#"><i class="fa fa-user"></i></a>
									</li>
									<li style="display: none;" class="li-nav-logout">
										<a href="#" data-toggle="modal" data-target="#myModa3"><i class="fa fa-times-circle"></i>
											@@logout</a>
									</li>
								</ul>
							</nav>
							<a href="tel:+74956665607" class="phone"><i class="fa fa-phone"></i> +7 495 666 56 07</a>
							<a href="#" onclick="return false;" class="lang-href" data-lang="ru">Ru</a>
							<a href="#" onclick="return false;" class="lang-href" data-lang="en">En</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- text-carusel-section of the page -->
	<div class="text-carousel-section">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
					<div class="text-container">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<strong class="title">
										<span class="decor">@@promo1part1, </span>
										<span class="decor">@@promo1part2  </span> <span class="decor">@@promo1part3 </span>
										<span class="decor">@@promo1part4. </span> </strong>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 button-holder" style="text-align: center;">
									<button href="#" onclick="return false;" class="btn btn-default btn-base leave-a-request" data-loading-text="@@second" data-loc="slider">@@getOrder</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="text-container">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<strong class="title"> <span class="decor">@@promo2part1 </span>
										<span class="decor">@@promo2part2</span>
										<span class="decor"> @@promo2part3 </span> <span class="decor"> @@promo2part4 </span>
									</strong>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 button-holder" style="text-align: center;">
									<button href="#" onclick="return false;" class="btn btn-default btn-base leave-a-request" data-loading-text="@@second" data-loc="slider">>@@getOrder</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="text-container">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<strong class="title">
										<span class="decor">@@promo3part1</span>
										<span class="decor">@@promo3part2</span>
										<span class="decor">@@promo3part3</span>
										<span class="decor">@@promo3part4</span> </strong>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 button-holder" style="text-align: center;">
									<button href="#" onclick="return false;" class="btn btn-default btn-base leave-a-request" data-loading-text="@@second" data-loc="slider">>@@getOrder</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
		</div>
	</div>
</header>


<div class="header-fixed-container hidden-xs" id="fixed-header-section">
	<a href="#" class="logo-header-fixed"><img src="images/fixed-logo.png" height="39" width="39" alt="Dry Harder"></a>

	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-xs-4">
				<a href="#" class="logo-header-fixed add"><img src="images/fixed-logo.png" height="39" width="39" alt="Dry Harder"></a>
				<!-- accaunt-menu of the page -->
				<nav class="account-menu" style="display: none;">
					<ul>
						<li>
							<a href="#"><i class="fa fa-user"></i> <i class="arrow fa fa-long-arrow-down"></i></a>

							<div class="drop">
								<ul>
									<li><a href="#"><i class="fa fa-tachometer"></i>@@account</a></li>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModa3"><i class="fa fa-times-circle"></i>
											Выйти</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-8 col-xs-6">
				<!-- navigation of the page -->
				<div class="navigation">
					<ul>
						<li class="active"><a href="#our-services">@@whatWeOffer</a></li>
						<li><a href="#how-does-it-work">@@ourWork</a></li>
						<li><a href="#how-we-work">@@ourPrinciples</a></li>
						<li><a href="#our-process">@@ourProcess</a></li>
						<li><a href="#price-anchor">@@ourPrice</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-1">
				<!-- add-nav of the page -->
				<nav class="add-nav style02">
					<ul>
						<li class="base-tooltip">
							<a href="#location" data-toggle="tooltip" data-placement="bottom" title="Адреса"><i class="fa fa-map-marker"></i></a>
						</li>
						<li><a href="#" data-target="feedbackForm"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</nav>
			</div>
			<div class="col-xs-1">
				<!-- basket-box of the page -->
				<div class="basket-box base-tooltip" style="display: none;">
					<a href="#" class="basket-icon" data-toggle="tooltip" data-placement="bottom" title="My Laundry">icon</a>
					<span class="number"></span>
				</div>
			</div>
		</div>
	</div>
</div>

</div>	