<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.1/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='/manage/textAngular.css'>
	<link rel="stylesheet" href="/manage/main.css">
</head>
<body ng-app="Dryharder">

<div class="container" ng-controller="ServiceTitlesCtrl" id="ServiceTitlesCtrl" style="margin-top: 10px;">

	<div class="col-md-5">

		<table class="table">
			<tr>
				<th class="col-md-2">id</th>
				<th class="col-md-2">code</th>
				<th class="col-md-4">name</th>
				<th class="col-md-4">lang</th>
			</tr>
			<tr ng-repeat="item in list">
				<td>{{item.id}}</td>
				<td>{{item.code}}</td>
				<td>{{item.name}}</td>
				<td class="lang-buttons">
					<a ng-repeat="lang in languages" id="content-{{item.id + '-' + lang}}" class="btn btn-xs" ng-class="{'btn-default': item.lang[lang], 'btn-warning': !item.lang[lang]}" ng-click="editLang(item, lang)">{{lang}}</a>
				</td>
			</tr>
		</table>

	</div>

	<div class="col-md-7" style="position: relative;">

		<div style="position: fixed; width: 660px; min-height: 500px;">

				<div class="col-md-12 div-lang-editor">

					<form class="form-horizontal" onsubmit="return false;" ng-submit="saveLang(edit)">

						<h4>{{edit.title}}</h4>

						<div class="form-group">
							<label for="editLangTitle" class="control-label col-md-2">наименование:</label>

							<div class="col-md-10">
								<input id="editLangTitle" type="text" class="form-control" ng-model="edit.content" />
							</div>
						</div>

						<div class="clear clearfix"></div>

						<div class="form-group">
							<div class="col-md-offset-2 col-lg-10">
								<button type="submit" class="btn btn-xs btn-primary btn-save-item-lang">
									сохранить
								</button>
							</div>
						</div>

					</form>

				</div>

		</div>

	</div>

</div>


<script type="text/javascript" src="/manage/bower_components/jquery2/jquery.min.js"></script>
<script type="text/javascript" src="/manage/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/manage/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src='/manage/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script type="text/javascript" src='/manage/bower_components/textAngular/dist/textAngular.min.js'></script>

<script type="text/javascript" src="/manage/main.js"></script>

</body>
</html>