<div class="modal fade" id="myLicense" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="padding: 10px 10px 10px;">
			<button type="button" class="close" data-dismiss="modal">
				<i class="fa fa-times-circle"></i>
			</button>
			<div class="heading">
				<h3>@@termsAndConditions</h3>
			</div>
			<div class="row-holder"></div>
			<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">OK</button>
		</div>
	</div>
</div>