
<div class="modal fade" id="PasswordReset" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="heading">
				<button type="button" class="close cancel-from-reset">
					<i class="fa fa-times-circle"></i>
				</button>
				<h3>@@resetPass</h3>
			</div>
			<form action="" class="signup-form">
				<fieldset>
					<div class="row-holder">
						<div class="input-holder input-group">
							<span class="input-group-addon plus-seven">+7</span>
							<input type="tel" placeholder="@@mobileNumber" name="phone">
						</div>
					</div>
					<div class="row-holder">
						<button class="btn btn-primary"  data-loading-text="@@resetting">@@reset <i class="fa fa-arrow-circle-right"></i></button>
					</div>
				</fieldset>
			</form>
			<div class="button-box">
				<a href="#" class="btn btn-default cancel-from-reset">@@cancel <i class="fa fa-times-circle"></i></a>
			</div>
		</div>
	</div>
</div>